body
{
    text-align: center;
}
/*Увеличение размера шрифта*/
.fio
{
    transition: 1s;
    text-align: center;
}

.fio:hover
{
    font-size: 20px;
}
/*Увеличение размера шрифта*/

.avatarka img
{
    transition: 4s;
}

.avatarka img:hover
{
    width: 20%;
    height: 20%;
}



